//colors
$white: #fff;
$color_gallery_approx: #eee;
$black: #000;
$black_20: rgba(0,0,0,0.2);
$color_tundora_approx: #444;
$color_elephant_60_approx: rgba(20,50,70,0.6);
$color_celery_approx: #aec856;
$color_sushi_approx: #95ac4a;
$color_athens_gray_approx: #eaeef3;
$color_selective_yellow_approx: #f5b404;
$color_puerto_rico_approx: #4ac7ac;
$color_cascade_approx: #86a99d;
$color_monsoon_approx: #898989;
$black_85: rgba(0,0,0,0.85);
$color_guardsman_red_50_approx: rgba(215,0,0,0.5);
$color_celery_80_approx: rgba(174,200,86,0.8);
$color_alabaster_approx: #f9f9f9;
$color_celeste_approx: #ccc;
$color_cadet_blue_approx: #a5b1c0;
$color_masala_approx: #3b3b3b;

//fonts
$font_0: Roboto;
$font_1: sans-serif;

//urls
$url_1: url(../img/header.jpeg);

body {
  margin: 0;
  font-size: 14px;
  font-family: $font_0, $font_1!important;
  color: $color_tundora_approx;
}
* {
  outline: none !important;
}
a {
  text-decoration: inherit !important;
  color: $black;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .2s ease-in-out;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  margin-top: 0!important;
  margin-bottom: .5rem!important;
}
button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .2s ease-in-out;
}
.error-requers{
  &.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  .content {
    text-align: center;
    display: inline-block;
  }

  .title {
    font-size: 156px;
  }

  .quote {
    font-size: 36px;
  }

  .explanation {
    font-size: 24px;
  }
}
.br-radius {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
}
.relative {
  position: relative;
}
select {
  cursor: pointer;
}
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.text-left {
  text-align: left!important;
}
.text-right {
  text-align: right!important;
}
.img-offgrid-left {
  position: absolute;
  bottom: -1px;
  right: 51%;
}
.img-offgrid-right {
  position: absolute;
  bottom: -1px;
  left: 51%;
}
.img-responsive {
  max-width: 400px;
  top: 0;
}
.vertical {
  display: table;
  height: 100%;
  width: 100%;
}
.vertical__center {
  display: table-cell;
  vertical-align: middle;
}
.container {
  position: relative;
  z-index: 1;
}
.header {
  position: relative;
  z-index: 50;
  padding: 50px 0;
  border-bottom: solid 1px $color_gallery_approx;
}
.header__main {
  position: relative;
  z-index: 50;
  background: $url_1 center no-repeat;
  background-size: cover;
  padding: 30px 0;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $color_elephant_60_approx;
  }
}
.left-side {
  float: left;
  width: 60%;
  min-height: 1px;
  padding-right: 20px;
}
.right-side {
  float: left;
  width: 40%;
}
@media(max-width: 768px) {
  .right-side {
    float: none;
    width: 100%;
    padding: 0;
  }
  .left-side {
    float: none;
    width: 100%;
    padding: 0;
  }
  .header {
    padding: 10px 0;
  }
  .head {
    margin: 20px 0;
    background: none;
    padding-top: 70px;
    .sity {
      position: absolute;
      right: 0;
      top: 0;
      width: 150px;
      border-right: solid 1px $color_gallery_approx!important;
    }
    .name {
      right: 150px;
      top: 0;
      position: absolute;
      width: 200px;
    }
  }
  .header__title {
    display: none;
  }
  .head__search {
    width: 80%;
  }
  .head__button {
    width: 20%;
  }
  .head__logo {
    position: absolute!important;
    top: 0!important;
    border: none !important;
    > a {
      background: none!important;
      img {
        width: 100px;
      }
    }
  }
  .header__full {
    padding: 0;
  }
  .head__logo__main > a {
    color: $white!important;
  }
}
.full-info {
  span {
    font-size: 40px;
    font-weight: 300;
  }
  > h4 {
    font-size: 16px;
    font-weight: 500;
  }
  > div {
    margin: 20px 0;
    text-align: center;
    > button {
      display: inline-block;
      width: 47%;
      margin: 01%;
      padding: 20px 0;
      border: solid 2px $color_tundora_approx;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 2px;
    }
  }
}
.btn-send {
  background: $color_celery_approx;
  color: $white!important;
  border: solid 2px $color_celery_approx!important;
  font-weight: 500!important;
  &:hover {
    background: $color_sushi_approx;
    border: solid 2px $color_sushi_approx!important;
  }
}
.box-full {
  padding: 20px;
  border: solid 4px $color_athens_gray_approx;
  margin: 20px 0;
}
.slide-poster {
  margin-top: 10px!important;
  display: block;
}
.text-full {
  font-size: 15px;
  font-weight: 400;
}
.box-slide {
  padding: 20px;
  background: $color_athens_gray_approx;
  margin: 20px 0;
  > h4 {
    background: $white;
    display: inline-block;
    position: relative;
    left: -20px;
    top: -5px;
    padding: 10px 50px;
    padding-left: 20px;
  }
  a {
    padding: 2px;
  }
}
.full__company {
  overflow: hidden;
  display: block;
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 20px;
}
.full__ava {
  width: 85px;
  height: 85px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  margin: auto;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.full__info {
  display: inline-block;
  position: relative;
  top: -22px;
  text-align: left;
  margin-left: 15px;
  > span {
    font-size: 25px;
    color: $color_tundora_approx;
    line-height: 30px;
  }
  > .star {
    color: $color_selective_yellow_approx;
    font-size: 18px;
  }
}
@media(max-width: 1122px) {
  .full__info {
    top: 0;
    margin: 0;
    text-align: center;
  }
  .full__ava {
    display: block;
    margin-bottom: 10px;
  }
  .full-info > div {
    margin: 0;
    > button {
      display: block;
      width: 100%;
      padding: 20px 10px;
      margin-top: 10px;
    }
  }
}
.header__title {
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 0;
  line-height: 55px;
  letter-spacing: 1px;
}
.head {
  overflow: hidden;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
  position: relative;
  background: $white;
  > div {
    float: left;
    display: block;
    position: relative;
    border: solid 1px $color_gallery_approx;
    border-right: none!important;
    height: 52px;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    > i {
      position: absolute;
      color: $color_tundora_approx;
      bottom: 0;
      top: 0;
      width: 50px;
      line-height: 48px;
      text-align: center;
      background: $white;
    }
    > {
      .fa-caret-down {
        right: 0;
      }
      .fa-location-arrow {
        right: 0;
      }
    }
  }
  .name {
    width: 20%;
    > select {
      padding-left: 45px;
    }
    > .fa-smile-o {
      line-height: 51px;
      font-size: 18px;
    }
  }
  .sity {
    width: 15%;
  }
}
.head__logo {
  width: 15%;
  > a {
    padding: 0 20px;
    width: 100%;
    border: none;
    line-height: 50px;
    height: 50px;
    margin: 0;
    display: block;
    text-align: center;
    color: $color_puerto_rico_approx;
    color: $black;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 1px;
    background: $white;
    img {
      width: 90px;
    }
  }
}
.head__search {
  width: 40%;
  > input {
    padding: 0 20px;
    width: 100%;
    border: none;
    line-height: 50px;
    height: 50px;
    margin: 0;
    padding-left: 50px;
  }
  .fa-search {
    left: 0;
    font-size: 14px;
  }
}
.head__button {
  background: $color_celery_approx;
  width: 10%;
  border: solid 1px $color_celery_approx!important;
  > button {
    padding: 0 20px;
    width: 100%;
    border: none;
    line-height: 50px;
    height: 50px;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.2px;
    background: $color_celery_approx;
    color: $white;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0;
    &:hover {
      background: $color_sushi_approx;
    }
  }
}
@media(max-width: 930px) {
  .head__logo {
    width: 15%;
  }
  .head {
    .name {
      width: 25%;
    }
    .sity {
      width: 20%;
    }
  }
  .head__search {
    width: 25%;
  }
  .head__button {
    width: 15%;
  }
}
@media(max-width: 600px) {
  .head {
    .name {
      left: 0;
      width: 70%;
    }
    .sity {
      width: 30%;
      > i {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        font-size: 22px;
      }
    }
  }
  .wrapper {
    margin-top: 50px;
  }
  .head__logo {
    position: fixed!important;
    background: $white!important;
    z-index: 5!important;
    left: 0;
    right: 0;
    width: 100%;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 10px $black_20;
  }
  .head__search {
    width: 70%;
  }
  .head__button {
    width: 30%;
  }
  .catalog-title {
    float: none;
    width: 100%;
    > h2 {
      font-size: 25px;
    }
  }
  .catalog-filter {
    float: none;
  }
  .catalog-filter__sorting {
    margin: 0;
    padding: 0;
  }
  .page-title {
    font-size: 20px;
    text-align: center!important;
  }
  .head__logo__main > a {
    color: $black!important;
  }
  .item_text > a > h3 {
    font-size: 15px;
    line-height: 38px;
  }
}
.slider_header {
  background: $color_cascade_approx;
  width: 100%;
  text-align: center;
  line-height: 170px;
  font-size: 50px;
  color: $color_gallery_approx;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  img {
    display: block;
    width: 100%;
  }
}
.padding {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-padding {
  padding-top: 60px;
  padding-bottom: 30px;
}
.item {
  overflow: hidden;
  position: relative;
  padding: 10px;
  border: solid 3px $color_gallery_approx;
  margin-bottom: 20px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
}
.item_img {
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 300px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
}
.item_text {
  margin-left: 320px;
  > a {
    display: block;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: -10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid 1px $color_gallery_approx;
    border-bottom: solid 1px $color_gallery_approx;
    background: $color_athens_gray_approx;
    position: relative;
    &:hover {
      color: $color_tundora_approx;
    }
    > h3 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: 5px;
      position: relative;
      font-size: 25px;
      padding-right: 70px;
      margin: 0;
    }
    > span {
      font-size: 16px;
      font-weight: 400;
      padding: 3px 12px;
      background: $color_celery_approx;
      color: $white;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 2px;
      position: relative;
      position: absolute;
      top: 9px;
      right: 10px;
    }
  }
  > p {
    font-size: 15px;
    line-height: 24px;
    height: 51px;
    overflow: hidden;
  }
}
.item_price {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  text-align: center;
}
.item-side {
  overflow: hidden;
  float: left;
  padding: 0 30px;
  margin: 0;
  display: block;
  border-right: solid 1px $color_gallery_approx;
  height: 140px;
  width: 100%;
  background-size: cover;
  background-position: center;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: opacity .1s;
  opacity: 0.7;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
  &:hover {
    opacity: 1;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: opacity .1s;
  }
}
@media(max-width: 767px) {
  .item_img {
    position: static;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
  }
  .item_text {
    margin: 0;
  }
  .content_slide {
    margin-left: -11px;
  }
  .foot-nav {
    > h3 {
      font-weight: 500;
      margin: 20px 0;
      padding-bottom: 10px;
    }
    > a {
      margin-left: 20px;
      padding: 10px 0;
    }
  }
}
.header-catalog {
  margin-bottom: 10px;
  margin-top: 10px;
}
.catalog-title {
  float: left;
  margin-top: -10px;
  > h2 {
    font-weight: 500;
    font-size: 27px;
    color: $black;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
.catalog-filter {
  float: right;
  > div {
    overflow: hidden;
    border: solid 1px $color_gallery_approx;
    background: $white;
  }
}
.catalog-filter__sorting {
  position: relative;
  width: auto;
  float: left;
  width: 170px;
  > i {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 40px;
    width: 40px;
    text-align: center;
    background: $white;
    border-left: solid 1px $color_gallery_approx;
  }
  > select {
    height: 40px;
    padding: 0 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
}
.breadcrumb {
  padding: 0;
  margin: 0;
  > li {
    display: inline-block;
    font-size: 13px;
    + li:before {
      content: "/\00a0";
      padding: 0 5px;
      color: $color_monsoon_approx;
    }
  }
  > .active {
    color: $color_monsoon_approx;
  }
}
.page-title {
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: $black;
  text-align: center;
}
.item-main {
  display: block;
  height: 270px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 1px 1px 150px 70px $black_85;
  }
  > div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px 20px;
    z-index: 1;
    color: $white;
    > h3 {
      font-size: 25px;
      font-weight: 500;
      line-height: 23px;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 20px;
    }
    > ul > li {
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      padding: 3px 12px;
      background: $color_guardsman_red_50_approx;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 5px;
      position: relative;
      top: -7px;
      &:last-child {
        background: $color_celery_80_approx;
      }
    }
  }
  > span {
    font-size: 25px;
    font-weight: 500;
    background: $color_celery_approx;
    color: $white;
    padding: 5px 20px;
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
    z-index: 1;
  }
  > ul > li > i {
    margin-right: 2px;
  }
}
@media(max-width: 800px) {
  .item-main {
    height: 200px;
    > div > h3 {
      font-size: 22px;
    }
  }
}
.footer {
  background: $color_alabaster_approx;
  padding-top: 40px;
  padding-bottom: 20px;
}
.foot-nav {
  > h3 {
    font-size: 12px;
    border-bottom: solid 1px $color_celeste_approx;
    font-weight: 400;
    padding-bottom: 10px;
    color: $black;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 1px;
    color: $color_cadet_blue_approx;
  }
  > a {
    display: block;
    padding: 15px 0;
    font-size: 13px;
    color: $color_masala_approx;
  }
}
.footer_text {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  background: $color_athens_gray_approx;
  .social {
    position: absolute;
    right: 0;
    top: 0;
    > a {
      float: left;
      padding: 0 15px;
    }
  }
}
.btn-phone:hover {
  background: $color_tundora_approx;
  color: $white;
}
.poster-img > img {
  width: 100%;
  display: block;
}
.head__sort > select {
  padding: 0 20px;
  width: 100%;
  border: none;
  line-height: 50px;
  height: 50px;
  margin: 0;
}
.slide-full .item-side {
  height: 210px;
  opacity: 0.9;
}