//fonts
$font_0: Roboto;
$font_1: sans-serif;

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,700i&subset=cyrillic");

body {
  margin: 0;
  font-size: 14px;
  font-family: $font_0, $font_1!important;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: $font_0, $font_1!important;
}